<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="{{person.url}}">
    <div class="card hoverable">
      {% if person.img %}
        <img
          src="{{ person.img | relative_url }}"
          alt="{{person.name}}"
          class="img-thumbnail border-0  img-profile"
        >
      {% else %}
        <img
          src="https://place-hold.it/250x250&text={{person.name | slugify}}"
          alt="{{person.name}}"
          class="img-thumbnail border-0 img-profile"
        >
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ person.name }}</h4>
        <p class="card-text">{{ person.description }}</p>
        <div class="row mx-1">
          {% if person.link %}
            <div class="mx-1">
              <div class="icon" data-toggle="tooltip" title="Link">
                <a href="{{ person.link }}"><i class="fa-solid fa-link"></i></a>
              </div>
            </div>
          {% endif %}
          {% if person.github %}
            <div class="mx-1">
              <div class="icon" data-toggle="tooltip" title="Github">
                <a href="{{ person.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
